/*
  Place all the styles related to the matching controller here.
  They will automatically be included in application.css.
*/

h1 {
  text-align: center;
}


img {
  display: block;
  margin: auto;
  vertical-align: middle;
  height: 27em;
  width: 40em;
}

ul {
  display: flex;
  list-style-type: none;
}

/*************   BUTTONS   ******************/
.btn-default {
  text-align: center;
}

.btn-success {
  color: white;
}

#add-new {
  text-align: center;
}

.titles {
  text-align: center;
}

#picture-title {
  text-align: center;
}

#buttons {
    text-align: center;
}

#buttons ul {
    display: inline-flex;
    padding: 0;
}
