/*
  Place all the styles related to the matching controller here.
  They will automatically be included in application.css.
*/

/***** BACKGROUNDS *****/

.navbar-brand {
  color: white;
  font-family: 'Roboto Mono', monospace;
}

html body {
  background: url('https://images.unsplash.com/photo-1477062325860-871562e227e6?ixlib=rb-0.3.5&q=80&fm=jpg&crop=entropy&cs=tinysrgb&s=552d9ee350f2147789d44b6fb00f79c1');
  background-size: cover;
}

h1 {
  text-align: center;
  color: white;
}


img {
  display: block;
  margin: auto;
  vertical-align: middle;
  height: auto;
  width: 100%;
  max-height: 200px;
}

ul {
  display: flex;
  list-style-type: none;
}


/*************   BUTTONS   ******************/
.btn-default {
  text-align: center;
}

.btn-success {
  color: white;
}

#add-new {
  text-align: right;
  padding-top: 8px;
}

.titles {
  text-align: center;
  color: white;
  font-family: 'Roboto Mono', monospace;
}

#picture-title {
  text-align: center;
}

#buttons {
    text-align: center;
}

#buttons ul {
    display: inline-flex;
    padding: 0;
    padding-bottom: 10px;
}

label {
  color: white;
}

.field {
  text-align: center;
}

.actions {
  text-align: center;
}

.gallery-container {
  height: 100%;
  width: 110%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  align-content: flex-start;
}

.picture-box {
  max-height: 200px;
  max-width: 300px;
  background-color: white;
}

div.container {
  margin: 0 6em;
}
